{% extends "base.html" %}

  {% block title %} {{page_title}} {% endblock title %}


{% block sidebar %}
  <h4>{{heading}}</h4>
  Talent: {{star.user.first_name}} {{star.user.last_name}}<br>
  Age: {{star.age}}<br>
  Tel No. {{star.mobile_number}}
  <p><a href = "{% url 'logout' %}">Logout</a></p>




{% endblock sidebar %}


{% block content %}
  <div class="container">
  {% for pic in pics %}

    <p> <img src="{{pic.photos.url}}" class="img-rounded img-responsive"> </p>

  {% endfor %}
  </div>
{% endblock content %}
