{% extends 'base.html' %}

{% block content %}





    <div class="row">
        <div class="col-md-4">
          <h1> Login Page </h1>

          {% if form.errors %}
          <p> You're username and password didn't match. Please try again.</p>
          {% endif %}

          {% if next %}
              {% if user.is_authenticated %}
              <p> You don't have access to this page. Please login with an account that has access</p>
              {% else %}
              <p>Please login to see this page.</p>
              {% endif %}
          {% endif %}

        </div>
        <div class="col-md-8">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </div>
                <div>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </div>
                <div>
                    <input type="submit" class="btn btn-success" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>





        </div>








    </div>





{% endblock content %}
